---
import { Icon } from 'astro-icon/components';
---

<section class="section">
   <div class="container">
     <h2 class="title is-4 has-text-centered my-6">Más de 65 expositores, juegos interactivos para niños, exámenes de
      salud gratuitos, premios y mucho más. ¡No te lo pierdas!</h2>
     
     <div class="columns is-multiline">
       <div class="column is-4">
         <div class="card has-background-success-light h-100">
           <div class="card-image">
             <img src="src/images/music.jpg" alt="Concierto en vivo" class="is-rounded">
           </div>
           <div class="card-content has-text-centered">
             <span class="icon is-large">
               <Icon name="fa6-solid:music" class="has-text-danger" size="2x" />
             </span>
             <h3 class="title is-4 is-spaced">Música</h3>
             <p class="subtitle">
               Disfruta de los mejores artistas latinos en vivo con presentaciones durante todo el día.
             </p>
  
           </div>
         </div>
       </div>
       
       <div class="column is-4">
         <div class="card has-background-success-light h-100">
           <div class="card-image">
             <img src="src/images/cosplayers.jpg" alt="Comida latina" class="is-rounded">
           </div>
           <div class="card-content has-text-centered">
             <span class="icon is-large">
               <Icon name="fa6-solid:hat-wizard" class="has-text-success" size="2x" />
             </span>
             <h3 class="title is-4 is-spaced">Cosplayers</h3>
             <p class="subtitle">
               Los mejores cosplayers en vivo con presentaciones durante todo el día.
             </p>
         
           </div>
         </div>
       </div>
       
       <div class="column is-4">
         <div class="card has-background-success-light h-100">
           <div class="card-image">
             <img src="src/images/activities.jpg" alt="Juegos infantiles" class="is-rounded">
           </div>
           <div class="card-content has-text-centered">
             <span class="icon is-large">
               <Icon name="fa6-solid:dice" class="has-text-info" size="2x" />
             </span>
             <h3 class="title is-4 is-spaced">Actividades</h3>
             <p class="subtitle">
               Zona infantil con juegos, talleres educativos y entretenimiento para los más pequeños.
             </p>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>