<section class="section has-background-white-ter py-6">
   <div class="container">

      <div class="columns is-variable is-6">
         <div class="column is-6">
            <h2 class="title is-4 has-text-centered my-6">Contacto</h2>

            <h3 class="subtitle">
               ¿Interesado en trabajar con nosotros? Rellena algunos datos y estaremos en contacto contigo pronto. ¡No podemos esperar para escucharte!
            </h3>

            
         </div>

         <div class="column is-6">
            <form action="">
               <div class="field">
                  <label class="label">Nombre</label>
                  <div class="control">
                     <input class="input" type="text" placeholder="Nombre">
                  </div>
               </div>
               <div class="field">
                  <label class="label">Email</label>
                  <div class="control">
                     <input class="input" type="email" placeholder="Email">
                  </div>
               </div>
               <div class="field">
                  <label class="label">Mensaje</label>
                  <div class="control">
                     <textarea class="textarea" placeholder="Mensaje"></textarea>
                  </div>
               </div>
               <div class="field">
                  <div class="control">
                     <button class="button is-primary">Enviar</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
      
   </div>
</section>