<section class="section has-background-primary-bold is-medium my-6" >
   <div class="container">
     <div class="columns is-vcentered">
       <div class="column is-7">
         <h2 class="title is-2 has-text-white">¿Listo para vivir la experiencia?</h2>
         <p class="subtitle is-4 has-text-white">
           Reserva tus entradas ahora y asegura tu lugar en el evento familiar más grande del año.
         </p>
       </div>
       <div class="column is-5 has-text-right">
         <a href="https://www.eventbrite.com/e/latino-family-festival-en-fenway-park-2025-tickets-1245227170989?aff=oddtdtcreator" target="_blank" class="button is-large is-white is-outlined is-rounded">
           <strong>Comprar entradas</strong>
         </a>
       </div>
     </div>
   </div>
 </section>