<section class="section has-background-white">
  <div class="container">
    <!-- Elfsight Instagram Feed | EMB Feed -->
    <script src="https://static.elfsight.com/platform/platform.js" async
    ></script>
    <div
      class="elfsight-app-3985cf65-c979-435a-b30e-6ec393eb7051"
      data-elfsight-app-lazy
    >
    </div>
  </div>
</section>


<section class="section has-background-white">
  <div class="container">
    <!-- Elfsight Instagram Feed | EMB Feed -->
    <script src="https://static.elfsight.com/platform/platform.js" async
    ></script>
    <div
      class="elfsight-app-a7dd68b4-1cba-44d8-8ab4-1181b74485c3 eapps-instagram-feed es-widget"
      data-elfsight-app-lazy=""
      id="eapps-instagram-feed-1"
    >
    </div>
  </div>
</section>
