<section class="section">
   <div class="container">
     <div class="columns is-vcentered is-variable is-8">
       <div class="column has-text-centered">
         <figure class="image is-inline-block">
           <img src="src/images/sponsors/beth-israel-lahey-health.png" alt="Patrocinador 1">
         </figure>
       </div>
       <div class="column has-text-centered">
         <figure class="image is-inline-block">
           <img src="src/images/sponsors/cambridge-savins-bank.png" alt="Patrocinador 2">
         </figure>
       </div>
       <div class="column has-text-centered">
         <figure class="image is-inline-block">
           <img src="src/images/sponsors/goya.jpg" alt="Patrocinador 3">
         </figure>
       </div>
       <div class="column has-text-centered">
        <figure class="image is-inline-block">
          <img src="src/images/sponsors/redsox.png" alt="Boston Red Sox">
        </figure>
      </div>
       <div class="column has-text-centered">
         <figure class="image is-inline-block">
           <img src="src/images/sponsors/Mass-General-Brigham.png" alt="Patrocinador 4">
         </figure>
       </div>
       
       <div class="column has-text-centered">
         <figure class="image is-inline-block">
           <img src="src/images/sponsors/tjx_logo.png" alt="TJX 6">
         </figure>
       </div>
     </div>
   </div>
 </section>